<!-- =====================================================
   SIDEBAR REUTILIZAVEL
   Edite os links das aulas aqui. Todas as paginas que carregam este
   componente recebem o mesmo menu lateral automaticamente.
===================================================== -->

<aside class="col-12 col-md-2 sidebar">
    <div class="menu-item" data-submenu-target="mod1">
        <h3>Módulo 1</h3>
        <p> - A EAD e o desenvolvimento de cursos autoinstrucionais</p>
    </div>
    <div class="submenu" id="mod1">
        <a href="{{ROOT}}modulo1/aula1.html" class="submenu-aula-longa"><span class="submenu-aula-numero">Aula 1.1</span><span class="submenu-aula-titulo">– Contextualização de<br>EAD (ensino híbrido,<br>ensino on-line,<br>ensino presencial) e a<br>produção de cursos<br>autoinstrucionais</span></a>
        <a href="{{ROOT}}modulo1/aula2.html"><span class="submenu-aula-numero">Aula 1.2</span><span class="submenu-aula-titulo">– Elaboração de<br>conteúdo para curso<br>autoinstrucional</span></a>
        <a href="{{ROOT}}modulo1/aula3.html"><span class="submenu-aula-numero">Aula 1.3</span><span class="submenu-aula-titulo">– A criação de<br>Storyboards e a<br>relação com a<br>Designer Educacional</span></a>
        <a href="{{ROOT}}modulo1/aula4.html"><span class="submenu-aula-numero">Aula 1.4</span><span class="submenu-aula-titulo">– Publicações on-line:<br>Mooc, Moodle e<br>linguagem HTML</span></a>
    </div>

    <div class="menu-item" data-submenu-target="mod2">
        <h3>Módulo 2</h3>
        <p> - Criação do Material Didático Digital</p>
    </div>
    <div class="submenu" id="mod2">
        <a href="{{ROOT}}modulo2/aula1.html"><span class="submenu-aula-numero">Aula 2.1</span><span class="submenu-aula-titulo">– O material<br>didático digital</span></a>
        <a href="#"><span class="submenu-aula-numero">Aula 2.2</span><span class="submenu-aula-titulo">– O processo de<br>planejamento do<br>material didático</span></a>
        <a href="#"><span class="submenu-aula-numero">Aula 2.3</span><span class="submenu-aula-titulo">– O processo de<br>produção textual<br>e acessibilidade</span></a>
        <a href="#"><span class="submenu-aula-numero">Aula 2.4</span><span class="submenu-aula-titulo">– Avaliação e<br>feedbacks no EAD</span></a>
    </div>

    <div class="menu-item">
        <h3>Material</h3>
        <h3>Complementar</h3>
    </div>
</aside>
